@include mobile {
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: $white;

        .dropdown-content {
            left: 5%;
            width: 90%;
        }

        nav {
            display: flex;
            justify-content: space-between;


            .left_nav {
                display: none;
            }

            .left_nav.active {
                padding: 0 7.813vw;
                display: block;
                position: fixed;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                top: 70px;
                left: 5%;
                width: 90%;
                height: 50vh;
                background-color: $white;
                z-index: 999;
                transition: transform 0.3s ease-in-out;
                transform: translateX(-100%);



                ul {
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                    justify-content: center;

                    li {
                        width: 100%;
                        height: 20%;

                        a {
                            border-top: 1px solid $button1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }

                        &:nth-child(6) {
                            border-bottom: 1px solid $button1;
                        }
                    }
                }
            }

            .fa-regular.fa-compass.fa-2xl {
                display: block;
                cursor: pointer;
                padding-right: 0;
                width: 30px;
            }
        }
    }

    main {
        .heropage {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .shop {


            .categories {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

            }

            .display {
                overflow-x: hidden;
                scroll-behavior: smooth;
                -ms-overflow-style: none;
                justify-content: center;


                .shoe__card {
                    flex: 0 0 300px;

                    .shop__img {
                        height: 290px;
                    }
                }


            }
        }

        .proposition {
            justify-content: center;

            .customer_care,
            .Warranty {
                padding: 20px;
            }
        }

    }

    .shoe__card {
        height: fit-content;
    }

    .prev,
    .next {
        display: none;
    }

    footer {
        .footer__right {
            section {
                display: none;
            }
        }
    }
}