.proposition {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.906vw 11.719vw;


    .delivery,
    .customer_care,
    .Warranty {
        text-align: center;

        img {
            width: 5rem;
        }

        .title {
            font-family: $primary-font;
            font-size: 1.5rem;
        }

        .title_description {
            font-family: $image-font;
            font-size: 1.2rem;
        }

    }


}