 <!-- Footer -->
 <footer>
    <section class="footer__info">
      <section class="footer__left">
        <section class="logo">
          <svg
            xmlns="#www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="none"
            viewBox="0 0 30 30">
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M15 0H0l15 15H0l15 15h15L15 15h15L15 0Z"
              clip-rule="evenodd" />
          </svg>
        </section>
        <section class="address">
          <p class="address">
            <span> address </span>
            Lagos, Nigeria
          </p>
          <p class="contact">
            <span> contact: </span>
            <span class="number">
              <a href="tel:+2348113417474">+234 811 341 7474</a>
            </span>
            <span class="email">
              <a
                href="mailto:
                  Augustine32fg@gmail.com"
                >Augustine32fg@gmail.com</a
              >
            </span>
            <span class="social_media">
              <a
                href="https://github.com/010binary/Shoe-store.git"
                target="_blank"
                ><i class="fa-brands fa-github fa-2xl"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/alpha-augustine/"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in fa-2xl"></i
              ></a>
              <a href="https://twitter.com/August13200296" target="_blank"
                ><i class="fa-brands fa-x-twitter fa-2xl"></i
              ></a>
              <a href="https://wa.link/6fjoj8" target="_blank">
                <i class="fa-brands fa-whatsapp fa-2xl"></i
              ></a>
            </span>
          </p>
        </section>
      </section>
      <section class="footer__right">
        <section>
          <span><a href="#">link 1</a></span
          ><span><a href="#">link 2</a></span
          ><span><a href="#">link 3</a></span
          ><span><a href="#">link 4</a></span
          ><span><a href="#">link 5</a></span>
        </section>
        <section>
          <span><a href="#">link 1</a></span
          ><span><a href="#">link 2</a></span
          ><span><a href="#">link 3</a></span
          ><span><a href="#">link 4</a></span
          ><span><a href="#">link 5</a></span>
        </section>
        <section>
          <span><a href="#">link 1</a></span
          ><span><a href="#">link 2</a></span
          ><span><a href="#">link 3</a></span
          ><span><a href="#">link 4</a></span
          ><span><a href="#">link 5</a></span>
        </section>
      </section>
    </section>
    <section class="copyright">
      <p>
        © 2024 Alpha Codes. All rights reserved.
        &CounterClockwiseContourIntegral;
      </p>
    </section>
  </footer>