<section class="shoe__card">
    <section class="shop__img">
      <img class="shopImage" alt="shoe image" />
      <section class="icon">
        <p class="discount">-20%</p>
        <svg
          xmlns="#www.w3.org/2000/svg"
          width="20"
          height="19"
          fill="none"
          viewBox="0 0 20 19"
          class="like">
          <path
            stroke="#181818"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M19 5.5C19 3.015 16.901 1 14.312 1 12.377 1 10.715 2.126 10 3.733 9.285 2.126 7.623 1 5.687 1 3.1 1 1 3.015 1 5.5c0 7.22 9 12 9 12s9-4.78 9-12Z" />
        </svg>
      </section>
      <section class="buy">
        <a href="#">
          add to cart
          <svg
            xmlns="#www.w3.org/2000/svg"
            width="22"
            height="20"
            fill="none"
            viewBox="0 0 22 20">
            <path
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M1.25.75h1.386c.51 0 .955.343 1.087.835l.383 1.437m0 0a60.114 60.114 0 0 1 16.536 1.84A59.585 59.585 0 0 1 17.718 12H6.5M4.106 3.022 6.5 12m0 0a3 3 0 0 0-3 3h15.75M5 18a.75.75 0 1 1-1.5 0A.75.75 0 0 1 5 18Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
          </svg>
        </a>
      </section>
    </section>
    <section class="shoe__description">
      <p class="shoe__name">HAVIT HV-G92 Gamepad</p>
      <p class="shoe__price">
        <span class="mainPrices">$1100</span>
        <span class="slash__price">$1500</span>
      </p>
      <p class="ratings">
        <span class="stars">
          <img src="./image/SVG_images/star.svg" alt="rating" /> </span
        ><span class="stars">
          <img src="./image/SVG_images/star.svg" alt="rating" /> </span
        ><span class="stars">
          <img src="./image/SVG_images/star.svg" alt="rating" /> </span
        ><span class="stars">
          <img src="./image/SVG_images/star.svg" alt="rating" />
        </span>
        <span class="stars">
          <img src="./image/SVG_images/star.svg" alt="rating" />
        </span>
        <span class="buys"> (88) </span>
      </p>
    </section>
  </section>