{% extends 'base.html' %} {% block title %}shop{% endblock %} {% block body %}
<main>
  <!-- Shop -->
  <div class="shop second_page">
    <!-- Card section -->
    <div class="display">
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
      <!-- shoe card -->
      {% include "./components/ShoeCard.html" %}
    </div>
  </div>
</main>
{% endblock %}
